# Ignore Gradle project-specific cache directory
.gradle/

# Ignore Gradle build output directory
build/
out/

# Ignore all Java/Scala class files anywhere in the repo
*.class


# Optional: common macOS and IDE files
.DS_Store
.idea/
